{% extends 'productosapp/base.html' %}

<body class="bodyG">

{% block contenido %} 
    
 
      <h2 class="parrafoNosotros col-xxl-12" style="color:rgb(151, 33, 33)">Bueno querido lector ha llegado el momento de que conozcas un poco más de mí, veamos por donde voy a empezar.... Mi nombre completo es Facundo Ezequiel Torres vivo en Buenos Aires, Argentina, tengo 29 años, me introduje en el mundo de la informática hace aproximadamente 1 años comencé a incursionar en PYTHON y Django y mi objetivo principal es especializarme en el BACK END para luego obtener conocimientos del FRONT y así poder llegar a ser un desarrollador Full-Stack.<br><br>En este proyecto encontraras un pequeño ecommerce diseñado con DJANGO, en el se implemento: formularios tanto de busqueda como de carga, crud, CBV, login, logout, registro de usuarios, envio de mail desde el formulario contacto, herencia de templates, avatars, validaciones entre otras cosas. espero disfrutes viendo el proyecto como yo al hacerlo.</h2>


{% endblock contenido %}


</body>